:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: #213547; 
  background-color: #ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff; 
  color: #213547; 
  margin: 0;
}

a {
  font-weight: 500;
  color: #007bff; 
  text-decoration: inherit;
}
a:hover {
  color: #0056b3;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  color: #333; 
}


/* Visualization page styling */

.page-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1 1 auto; 
}

.content-container {
  display: flex;
  flex: 1 1 auto; 
  flex-direction: row;
}

.graph-area {
  display: flex;
  flex: 1 1 auto; 
  background: #ffffff;
}

.cytoscape-container {
  width: 100%;
  height: 100%;
}

/* Upload page styling */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #4CAF50; 
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #388E3C; 
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button {
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #388E3C;
}

.upload-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 40px; 
  width: 100%;
  max-width: 800px;
}


.logo {
  width: 550px; 
  height: auto; 
  display: block;
  margin: 0 auto 20px auto;
}

.drag-drop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.drag-drop-header {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}
.drop-zone {
  width: 300px;
  height: 150px;
  min-height: 150px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  text-align: center;
  background-color: #ffffff;
}
.drop-zone.drag-over {
  border-color: #4CAF50;
  background-color: #f9f9f9;
}
.drop-text {
  color: #555;
  font-size: 1rem;
  padding: 0 10px;
}
.hidden-input {
  display: none;
}
.file-label {
  color: #4CAF50;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 10px;
}


.upload-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  width: 100%;
}

/* Sidebar styling */

.sidebar {
  width: 300px;
  background: #f4f4f4;
  padding: 5px ;
  overflow-y: auto;
  position: relative;
}

.sidebar-content {
  padding: 20px;
}

.static-metadata, .dynamic-content {
  margin-top: 5px;
  padding: 5px;
  border-top: 1px solid #ddd;
}

.sidebar-logo {
  width: 250px; 
  height: auto;
}

.reference-file-name {
  color: green; 
}
.subject-file-name {
  color: red;
}
